@page
@model RoostCare.Pages.IncomeManagement.CockSalesModel
@{
}
<div class="border container border-2 border-success rounded-3 p-3 " style="background-color:#CEF8D9">
    <h5 class="theme-color-green fw-bolder mb-2">Rooster Sales</h5>

    <div class="p-3 rounded-3 mb-3 text-center border border-2 border-success rounded-3 bg-white">
        <h4>Total Income: <span class="fw-light"><i class="fa-solid fa-peso-sign"></i> <b class="fs-5 fw-bolder">@Model.TotalAmount.ToString("N2")</b></span></h4>
    </div>
    <div class="row">
        <div class="col-lg-7 col-12 mb-4 mb-lg-0">
            <form method="post">
                @Html.AntiForgeryToken()
                <input type="hidden" value="@(IncomeCategories.LiveStockSalesRoosters)" asp-for="Input.IncomeCategory"/>
                <div class="bg-white border border-success border-2 rounded-3 p-4">
                   
                    <div class="mb-3">
                        <label class="mb-2 fw-bolder">Date <span class="text-danger fw-bolder">*</span></label>
                        <input asp-for="Input.Date" type="date" class="form-control border rounded-pill border-2" />
                        <span asp-validation-for="Input.Date" class="text-danger"></span>
                    </div>
                   
                    <div class="mb-3" id="rooster-sale">
                        <label class="mb-2 fw-bolder">Select Roosters<span class="text-danger fw-bolder">*</span></label>
                        <select required asp-for="RoostersId" multiple class="form-select" asp-items="@Model.Roosters.Select(x => new SelectListItem($"Rooster Id: {x.Rooster.Id.ToString("00000")}, Price: {x.Rooster.Price}",x.Rooster.Id.ToString()))">
                        </select>
                        <span asp-validation-for="RoostersId" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-success">New <i class="fa-solid fa-plus"></i></button>
                </div>
            </form>

        </div>
        <div class="col-lg-5 col-12">
            <ul class="overflow-y-scroll pe-lg-2 p-0 list-unstyled " style="height: 400px">
                @if (Model.Incomes.Count() > 0)
                {
                    @foreach (var income in Model.Incomes)
                    {

                        <li class="d-flex border mb-2 justify-content-between border-success border-2 bg-white py-3 px-4 rounded-3 align-items-center">
                            <div class="d-flex gap-3  align-items-center">
                                <i class="text-success fs-2 fa-solid fa-peso-sign"></i>
                                <div class="">
                                    <h6>@(income.IncomeCategories == IncomeCategories.CockFightEarnings ? "Cockfight - Earnings" : income.IncomeCategories == IncomeCategories.LiveStockSalesChicks ? "Livestock Sales - Chicks" : "Livestock Sales - Rooster")</h6>
                                    <span class="text-info">@income.Amount.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("fil-PH"))</span>
                                    <span class="text-dark ms-3">@income.Date.ToString("MM/dd/yy")</span>
                                </div>
                            </div>
                            <i data-bs-toggle="modal" data-bs-target="#delete-record-@(income.Id)" class="fa-solid fa-trash-can fs-5 text-secondary"></i>
                            <partial name="PartialViews/_DeleteModal" model="new DeleteModalViewModel(){rId = income.Id.ToString()}" />
                        </li>
                    }
                }
                else
                {
                    <h4 class="text-center text-body-tertiary mt-5">No Data</h4>
                }

            </ul>

        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial"></partial>
}