@page
@model RoostCare.Pages.ExpensesManagement.IndexModel
@{
}
<div class="border container border-2 border-success rounded-3 p-3 " style="background-color:#CEF8D9">
    <h5 class="theme-color-green fw-bolder mb-2">Expenses</h5>

    <div class="p-3 rounded-3 mb-3 text-center border border-2 border-success rounded-3 bg-white">
        <h4>Total Expenses: <span class="fw-light"><i class="fa-solid fa-peso-sign"></i> <b class="fs-5 fw-bolder">@Model.TotalAmount.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("fil-PH"))</b></span></h4>
    </div>
    <div class="row">
        <div class="col-lg-7 col-12 mb-lg-0 mb-4 ">
            <form method="post">
                @Html.AntiForgeryToken()
                <div class="bg-white border border-success border-2 rounded-3 p-4">
                    <div class="mb-3">
                        <label class="mb-2 fw-bolder">Expenses Category <span class="text-danger fw-bolder">*</span></label>
                        <select asp-for="Input.Category" asp-items="@Html.GetEnumSelectList<ExpensesCategories>()" class="form-select border rounded-pill border-2"></select>
                        <span asp-validation-for="Input.Category" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label class="mb-2 fw-bolder">Date <span class="text-danger fw-bolder">*</span></label>
                        <input asp-for="Input.Date" type="date" class="form-control border rounded-pill border-2" />
                        <span asp-validation-for="Input.Date" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label class="mb-2 fw-bolder">Amount <span class="text-danger fw-bolder">*</span></label>
                        <input asp-for="Input.Amount" class="form-control border rounded-pill border-2" placeholder="Enter here.." />
                    </div>
                   
                    <button type="submit" class="btn btn-success">New <i class="fa-solid fa-plus"></i></button>
                </div>
            </form>

        </div>
        <div class="col-lg-5 col-12">
            <ul class="overflow-y-scroll  pe-lg-2 p-0 list-unstyled " style="height: 400px">
                @if (Model.ExpensesList.Count() > 0)
                {
                    @foreach (var expenses in Model.ExpensesList)
                    {

                        <li class="d-flex border mb-2 justify-content-between border-success border-2 bg-white py-3 px-4 rounded-3 align-items-center">
                            <div class="d-flex gap-3  align-items-center">
                                <i class="text-success fs-2 @(expenses.Category == ExpensesCategories.FeedSupply ?"fa-solid fa-sack-xmark":expenses.Category == ExpensesCategories.Medications?"fa-solid fa-suitcase-medical":expenses.Category == ExpensesCategories.Utilities?"fa-solid fa-charging-station":"fa-solid fa-ellipsis") "></i>
                                <div class="">
                                    <h6>@(expenses.Category == ExpensesCategories.FeedSupply ? "Feed Supplies" : expenses.Category == ExpensesCategories.Medications ? "Medications Supply" : expenses.Category == ExpensesCategories.Utilities?"Utilities":"Other")</h6>
                                    <span class="text-danger">@expenses.Amount.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("fil-PH"))</span>
                                    <span class="text-dark ms-3">@expenses.Date.ToString("MM/dd/yy")</span>
                                </div>
                            </div>
                            <i data-bs-toggle="modal" data-bs-target="#delete-record-@(expenses.Id)" class="fa-solid fa-trash-can fs-5 text-secondary"></i>
                            <partial name="PartialViews/_DeleteModal" model="new DeleteModalViewModel(){rId = expenses.Id.ToString()}" />
                        </li>
                    }
                }
                else
                {
                    <h4 class="text-center text-body-tertiary mt-5">No Data</h4>
                }


            </ul>

        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial"></partial>
}
