@page
@model RoostCare.Pages.Report2.FHistoryModel
@{
}
<h5 class="py-2 rounded-3 bg-success-subtle text-center mb-4">Rooster Fight Report</h5>
<form method="get">
    @Html.AntiForgeryToken()
    <div class="row mb-2">
        <div class="col-lg-4 col-12 mb-2 mb-lg-0">
            <div class="d-flex flex-lg-row flex-column gap-2">
                <div>
                    <label class="mb-1 fw-bolder">Date From</label>
                    <input required type="date" name="dFrom" value="@Model.DateFrom?.ToString("yyyy-MM-dd")" class="form-control" />
                </div>
                 <div>
                    <label class="mb-1 fw-bolder">Date To</label>
                    <input required type="date" name="dTo" value="@Model.DateTo?.ToString("yyyy-MM-dd")" class="form-control" />
                </div>
              
            </div>
        </div>
        <div class="col-lg-4 col-12">
            <div class="d-flex gap-2 align-items-end ms-3 h-100">
                <button type="submit" class="btn btn-success btn-sm btn-flat">Filter</button>
                <a asp-page="./FHistory" class="btn btn-primary btn-sm btn-flat">Get All</a>
                <button type="button" id="button-excel" class="btn btn-info btn-sm text-white"><i class="fa fa-excel-file"></i> Excel</button>
                <button type="button" id="button-print" class="btn btn-light btn-sm border btn-flat"><i class="fa fa-print"></i> Print</button>
            </div>
        </div>
    </div>
</form>

<div class="rounded-3 p-2 shadow border border-success border-3" style="background-color:#CEF8D9">
    <div class="overflow-x-scroll">
        <table id="table-data" class="table-bordered table table-striped table-hover bg-white" style="width:100%">
            <thead>
                <tr>
                    <th>Rooster Id</th>
                    <th>Profile Picture</th>
                    <th>Breed</th>
                    <th>Win</th>
                    <th>Draw</th>
                    <th>Loss</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                @foreach (var rfReport in Model.RFReports)
                {
                    <tr>
                        <td>@rfReport.Rooster.Id.ToString("00000")</td>
                        <td>
                            <div class="d-flex justify-content-center align-items-center">
                                <img src="~/RProfile/@(rfReport.Rooster.RoosterImageFileName)" width="70" height="70" class="rounded-circle" />
                            </div>
                        </td>
                        <td>@rfReport.Breed.BreedName</td>
                        <td>@rfReport.CountWin</td>
                        <td>@rfReport.CountDraw</td>
                        <td>@rfReport.CountLoss</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<noscript id="print-content">
    <div class="position-relative">
        <img src="~/img/RoosterGreen.png" width="80" height="80" class=" position-absolute">
        <h4 class="m-0 text-center">RoostCare</h4>
        <h3 class="m-0 fw-bolder text-center">Rooster Fight Report</h3>
        <h5 class="m-0 text-center">Summary</h5>
    </div>
    <hr/>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Rooster Id</th>
                <th>Profile Picture</th>
                <th>Breed</th>
                <th>Win</th>
                <th>Draw</th>
                <th>Loss</th>

            </tr>
        </thead>
        <tbody class="table-group-divider">
            @foreach (var rfReport in Model.RFReports)
            {
                <tr>
                    <td>@rfReport.Rooster.Id</td>
                    <td>
                        <div class="d-flex justify-content-center align-items-center">
                            <img src="~/RProfile/@(rfReport.Rooster.RoosterImageFileName)" width="70" height="70" class="rounded-circle" />
                        </div>
                    </td>
                    <td>@rfReport.Breed.BreedName</td>
                    <td>@rfReport.CountWin</td>
                    <td>@rfReport.CountDraw</td>
                    <td>@rfReport.CountLoss</td>
                </tr>
            }
        </tbody>
    </table>
    <hr />
</noscript>
@section Scripts {
    <script src="~/lib/TableExport/tableExcel.js" asp-append-version="true"></script>
    <script src="~/js/Report.js" asp-append-version="true"></script>
}
